# Project-specific files
*[Ss][Cc][Uu][Ss]*
*971*98*
prodg_sce*
usr/
sce/
docs/

# Splat files
undefined_funcs*.txt
undefined_syms*.txt
asm/
assets/

## Binary/object products
**/bin/
**/obj/

## Clang-tooling things
**/compile_commands.json

# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Miscellaneous
.vscode
temp/
__pycache__/
*.pyc
