# Project-specific files
SCUS_971.98
*[Ss][Cc][Uu][Ss]*
*971*98*
SCUS_*.*
*.elf

prodg_sce*
tools/cc/*
usr/
sce/

html/
functions.txt

# Splat files
splat/
assets/
asm/
c/
undefined_funcs*.txt
undefined_syms*.txt

## Binary/object products
**/bin/
**/obj/

## Clang-tooling things
**/compile_commands.json

# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Linker scripts
*.ld

# Python
env/
__pycache__/
*.pyc

# Miscellaneous
.vscode
temp/
