# Project-specific files
SCUS_971.98
*[Ss][Cc][Uu][Ss]*
*971*98*
SCUS_*.*
*.elf
disc/*
reference/*

# Objdiff
objdiff.json
report.json

# Compiler
prodg*
tools/cc/
usr/

# Splat
splat/
assets/
asm/
undefined_funcs_auto.txt
undefined_syms_auto.txt
.splache
.ninja_log
*.ninja
permuter_settings.toml

# Documentation
html/

## MacOS
.DS_Store

## Linux
*.swp

## WSL
*:Zone.Identifier

## Binary/object products
**/bin/
**/obj/

## Clang-tooling things
**/compile_commands.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Linker scripts
*.ld

# Python
env/
__pycache__/
*.pyc

# Miscellaneous
.vscode
temp/
*.diff
