# Splat config for Sly 1 NTSC-U (PS2)
name: Sly Cooper and the Thievius Raccoonus (USA)
sha1: 57dc305db57932ad3f1122966cdb695d2e62a47a

options:
  basename: SCUS_971.98
  target_path: disc/SCUS_971.98
  elf_path: SCUS_971.98
  base_path: ../
  platform: ps2
  compiler: EEGCC

  # Output paths
  asm_path: asm
  src_path: src
  build_path: obj

  # Assembly options
  generate_asm_macros_files: False
  named_regs_for_c_funcs: False
  find_file_boundaries: False
  disasm_unknown: True

  # Rodata options
  rodata_string_guesser_level: 0 # improve string detection
  suggestion_rodata_section_start: True
  pair_rodata_to_text: False
  migrate_rodata_to_functions: True

  # Auto-generate undefined functions and symbols
  create_undefined_funcs_auto: True
  undefined_funcs_auto_path: config/undefined_funcs_auto.txt
  create_undefined_syms_auto: True
  undefined_syms_auto_path: config/undefined_syms_auto.txt

  # Manually defined symvols
  symbol_addrs_path: config/symbol_addrs.txt

  # Splat extensions
  extensions_path: tools/splat_ext

  # ELF sections
  section_order: [".text", ".vutext", ".rodata", ".data", ".bss"]
  auto_link_sections: [".rodata", ".data", ".bss"]

  # Linker script options
  subalign: 8

segments:
  - [0, databin, elf_header]

  - name: main
    type: code
    start: 0x001000
    vram: 0x100000
    bss_size: 0x3B1304
    subsegments:
    - [0x001000, asm, sce/crt0] # starts with 2 nops
    - [0x001178, asm, P2/ps2t/spaprops] # ext should be .ic

    #--------------------------------------------------------
    # Splice sources
    # All .cpp files
    #--------------------------------------------------------
    - [0x13698, cpp, P2/splice/bif] #MARK: P2/splice
    - [0x19d48, cpp, P2/splice/eval]
    - [0x1b328, asm, P2/splice/frame]
    - [0x1b678, cpp, P2/splice/gc]
    - [0x1be78, cpp, P2/splice/method]
    - [0x1beb8, cpp, P2/splice/pair]
    - [0x1bf98, cpp, P2/splice/proc]
    - [0x1c008, cpp, P2/splice/ref]
    - [0x1ca28, cpp, P2/splice/serialize]
    - [0x1cd28, cpp, P2/splice/sidebag]
    - [0x1cf70, cpp, P2/splice/spliceutils]
    - [0x1d128, cpp, P2/splice/splotheap]
    - [0x1d508, cpp, P2/splice/vecmat]

    #--------------------------------------------------------
    # P2 sources
    # All .c files (but compiled as c++)
    #--------------------------------------------------------
    - [0x1dbb8, c, P2/989snd] #MARK: P2
    - [0x1f560, c, P2/brx]
    - [0x1fe70, c, P2/ac]
    - [0x22228, c, P2/act]
    - [0x23f28, c, P2/actseg]
    - [0x243c0, c, P2/alarm]
    - [0x24dc0, c, P2/alo]
    # Note: Anticrack check for ITM firewall is 0x2c760, maybe it's own TU?
    - [0x2c868, c, P2/aseg]
    - [0x2e3f8, c, P2/asega]
    - [0x30840, c, P2/barrier]
    - [0x30cf0, c, P2/bas]
    - [0x310e8, c, P2/basic]
    - [0x31168, c, P2/bez]
    - [0x31f48, c, P2/binoc]
    - [0x38290, c, P2/bis]
    - [0x395a0, c, P2/bbmark]
    - [0x39ff0, c, P2/blend]
    - [0x3ab70, c, P2/blip]
    - [0x3c4c0, c, P2/bomb]
    - [0x3d988, c, P2/bq]
    - [0x3dcf8, c, P2/break]
    - [0x3efd8, c, P2/bsp]
    - [0x3f7c0, c, P2/button]
    - [0x41790, c, P2/cat]
    - [0x417a8, c, P2/cd]
    - [0x41d90, c, P2/chkpnt]
    - [0x429e8, c, P2/clip]
    - [0x43ed0, c, P2/clock]
    - [0x44140, c, P2/cm]
    - [0x47100, c, P2/cnvo]
    - [0x47340, c, P2/coin]
    - [0x4a398, c, P2/cplcy]
    - [0x4bbd0, c, P2/credit]
    - [0x4c0c0, c, P2/crout]
    - [0x4c550, c, P2/crusher]
    - [0x4e0a8, c, P2/crv]
    - [0x4fe40, c, P2/dart]
    - [0x50740, c, P2/dartgun]
    - [0x514e0, c, P2/dialog]
    - [0x529e0, c, P2/difficulty]
    - [0x53438, c, P2/dl]
    - [0x53810, c, P2/dmas]
    - [0x53e28, c, P2/dysh]
    - [0x54528, c, P2/dzg]
    - [0x559c8, c, P2/emitter]
    - [0x5a680, c, P2/eyes]
    - [0x5aad0, c, P2/fader]
    - [0x5aca0, asm, P2/UNKNOWN1] # Not in the prototype.
    - [0x5af20, c, P2/find]
    - [0x5b8b0, c, P2/flash]
    - [0x5bae0, c, P2/fly]
    - [0x5d178, c, P2/font]
    - [0x5f6a8, c, P2/frm]
    - [0x60678, c, P2/freeze]
    - [0x60f88, c, P2/frzg]
    - [0x61070, c, P2/game]
    - [0x61e80, c, P2/geom]
    - [0x621b8, c, P2/gifs]
    - [0x629c0, c, P2/glbs]
    - [0x63810, c, P2/glob]
    - [0x68d68, c, P2/gomer]
    - [0x69130, c, P2/gs]
    - [0x6ac58, c, P2/hide]
    - [0x6ba18, asm, P2/hideout]
    - [0x6d470, c, P2/hnd]
    - [0x6d4e8, c, P2/ik]
    - [0x6de00, c, P2/jlo]
    - [0x6f0b8, c, P2/joy]
    - [0x70608, c, P2/jt]
    - [0x79008, asm, P2/jp] # Might be something else.
    - [0x7c998, c, P2/jsg]
    - [0x7e248, c, P2/jump]
    - [0x80e90, c, P2/keyhole]
    - [0x81eb0, c, P2/landing]
    - [0x81f68, c, P2/lgn]
    - [0x83c18, c, P2/lo]
    - [0x84cc8, c, P2/light]
    - [0x86358, c, P2/lookat]
    - [0x86758, c, P2/main]
    - [0x86c18, c, P2/mark]
    - [0x894c0, c, P2/mat]
    - [0x8b388, c, P2/mb]
    - [0x8c580, asm, P2/memcard]
    - [0x8e430, c, P2/memory]
    - [0x8e8e0, c, P2/missile]
    - [0x8f410, c, P2/mpeg]
    - [0x90988, c, P2/mrkv]
    - [0x909d8, c, P2/ms]
    - [0x90ef8, c, P2/murray]
    - [0x917e0, c, P2/path]
    - [0x92e70, c, P2/phasemem]
    - [0x92ec0, c, P2/pipe]
    - [0x93068, c, P2/pnt]
    - [0x931a8, c, P2/po]
    - [0x94210, c, P2/prog]
    - [0x94598, asm, P2/prompt]
    - [0x973d8, c, P2/proxy]
    - [0x97938, c, P2/puffer]
    - [0x99980, c, P2/pzo]
    - [0x9bf00, c, P2/rail]
    - [0x9c038, c, P2/rat]
    - [0x9d440, c, P2/rchm]
    - [0x9e410, c, P2/render]
    - [0x9f040, c, P2/rip]
    - [0xa4ae0, asm, P2/rog]
    - [0xa8b20, c, P2/rumble]
    - [0xa8fe8, c, P2/rwm]
    - [0xaa8f8, asm, P2/sb]
    - [0xaac68, c, P2/screen]
    - [0xafcb0, c, P2/sensor]
    - [0xb2ac8, c, P2/shadow]
    - [0xb3840, c, P2/shape]
    - [0xb3988, c, P2/shd]
    - [0xb5920, c, P2/shdanim]
    - [0xb6cd8, c, P2/sky]
    - [0xb6d80, c, P2/slotheap]
    - [0xb6f50, c, P2/sm]
    - [0xb7ec8, c, P2/smartguard]
    - [0xb8968, c, P2/so]
    - [0xbd760, c, P2/solve]
    - [0xbf068, c, P2/sort]
    - [0xbf1e8, c, P2/sound]
    - [0xc1f30, c, P2/speaker]
    - [0xc20a8, c, P2/spire]
    - [0xc2190, c, P2/splicemap]
    - [0xc24c0, c, P2/spliceobj]
    - [0xc3430, c, P2/sprbuf]
    - [0xc39e8, c, P2/sqtr]
    - [0xc4390, asm, P2/squish] # Might be something else.
    - [0xc5458, c, P2/step]
    - [0xc6f18, c, P2/stepact]
    - [0xc71e0, c, P2/stepcane]
    - [0xc7f48, c, P2/stepguard]
    - [0xcd410, c, P2/stephang]
    - [0xcefb8, c, P2/stephide]
    - [0xd24f0, c, P2/steppipe]
    - [0xd39c8, c, P2/steppower]
    - [0xd41d0, c, P2/steprail]
    - [0xd46f0, c, P2/steprun]
    - [0xd5148, c, P2/stepside]
    - [0xd5848, asm, P2/stepzap]
    - [0xd8100, c, P2/stream]
    - [0xd83a8, c, P2/suv]
    - [0xdc480, c, P2/sw]
    - [0xdeb20, asm, P2/UNKNOWN2] # Unknown, falls alphabetically between sw and tail
    - [0xdece0, c, P2/tail]
    - [0xdf798, c, P2/tank]
    - [0xe0d48, c, P2/target]
    - [0xe0e80, asm, P2/tatk] # Not in the prototype. Related to master thief sprints.
    - [0xe18f8, c, P2/text]
    - [0xe3268, c, P2/thread]
    - [0xe3420, c, P2/tn]
    - [0xe5e38, c, P2/transition]
    - [0xe6378, c, P2/turret]
    - [0xe6e70, c, P2/tv]
    - [0xe98d0, c, P2/ub]
    - [0xea088, c, P2/ui]
    - [0xeac78, c, P2/update]
    - [0xeb408, c, P2/util]
    - [0xec460, asm, P2/vb]
    - [0xee650, c, P2/vec]
    - [0xef318, c, P2/vifs]
    - [0xef900, c, P2/vis]
    - [0xefc60, c, P2/water]
    - [0xf0838, c, P2/waypoint]
    - [0xf0ce8, c, P2/wipe]
    - [0xf1468, c, P2/wm]
    - [0xf3758, c, P2/wr]
    - [0xf49f8, c, P2/xform]
    - [0xf5f20, c, P2/zap]

    ## Segments in prototype confirmed not present in release:
    # P2/cycle.c - some kind of wheeled vehicle
    # P2/dsp.c - unknown.
    # P2/hg.c - hang glider
    # P2/stepski.c - skiing
    # P2/map2d.c - unknown
    # P2/menu - debug menu
    # P2/vife.c - vif encoder
    # P2/wibu_ee.c - wibukey encryption
    # P2/rope.c - unknown
    # P2/sc.c - unknown

    #--------------------------------------------------------
    # Libs
    # TODO: Verify start address.
    #--------------------------------------------------------
    - [0xF69C0, asm, sce/libs] # #MARK: libs
    #- [0xF76F8, asm, sce/rand]
    #- [0xF7738, asm]

    #--------------------------------------------------------
    # Vutext
    #--------------------------------------------------------
    - [0x112E10, textbin, vutext] #MARK: vutext

    #--------------------------------------------------------
    # Rodata (read-only data)
    #--------------------------------------------------------
    - [0x118380, rodata] #MARK: rodata
    # - [0x1225a0, .rodata, P2/cm] # todo causes errors
    - [0x141000, rodata] # todo
    - [0x149FE0, .rodata, P2/splice/bif]
    - [0x14A200, rodata] #todo: remove line and uncomment next for RefEvalAssert
    # - [0x14A200, .rodata, P2/splice/eval]
    - [0x14A2F0, .rodata, P2/splice/ref]
    - [0x14A3A0, .rodata, P2/splice/serialize]
    - [0x14A428, rodata] #, P2/989snd]
    - [0x14A870, rodata]
    - [0x14B0E0, .rodata, P2/dmas]
    - [0x14B0F8, rodata]

    #--------------------------------------------------------
    # Data (variable data)
    #--------------------------------------------------------
    - [0x151580, data] #MARK: data
    - [0x15d340, .data, P2/989snd]
    - [0x161e60, data]

    #- [0x, data, P2/brx]
    #- [0x, data, P2/ac]
    #- [0x, data, P2/act]
    #- [0x, data, P2/actseg]
    #- [0x, data, P2/alarm]
    #- [0x, data, P2/alo]
    #- [0x, data, P2/aseg]
    #- [0x, data, P2/asega]
    #- [0x, data, P2/barrier]
    #- [0x, data, P2/bas]
    #- [0x, data, P2/basic]
    #- [0x, data, P2/bez]
    #- [0x, data, P2/binoc]
    #- [0x, data, P2/bis]
    #- [0x, data, P2/bbmark]
    #- [0x, data, P2/blend]
    #- [0x, data, P2/blip]
    #- [0x, data, P2/bomb]
    #- [0x, data, P2/bone]
    #- [0x, data, P2/bq]
    #- [0x, data, P2/break]

    #- [0x, data, P2/bsp]
    #- [0x, data, P2/button]
    #- [0x, data, P2/cat] (might not be in release)
    #- [0x, data, P2/can]
    - [0x1623f0, data, P2/cd]
    - [0x162420, data, P2/chkpnt]
    - [0x162850, .data, P2/clock]
    - [0x162880, data, P2/cm]
    - [0x1629a0, data, P2/coin]

    - [0x162bf0, data, P2/cplcy]
    #- [0x, data, P2/credit]
    #- [0x, data, P2/crout]
    #- [0x, data, P2/crusher]
    #- [0x, data, P2/crv]
    #- [0x, data, P2/dart]
    #- [0x, data, P2/dartgun]
    #- [0x, data, P2/dialog]

    - [0x162d70, data, P2/difficulty]
    #- [n/a, data, P2/dl]
    - [0x162f10, data, P2/dmas] # TODO: Verify offset is correct.
    #- [n/a, data, P2/dsp]
    - [0x162f30, data, P2/dysh]
    #- [n/a, data, P2/dzg]
    - [0x162f80, data, P2/emitter]
    #- [0x, data, P2/eyes]
    #- [0x, data, P2/fader]
    #- [0x, data, P2/filestub]
    #- [0x, data, P2/find]
    #- [0x, data, P2/flash]
    - [0x163180, data, P2/fly]
    #- [0x, data, P2/font]
    #- [0x, data, P2/frm]
    #- [0x, data, P2/freeze]
    #- [0x, data, P2/frzg]

    - [0x1633c0, data, P2/game]
    - [0x1633d8, data]

    #- [0x, data, P2/geom]
    #- [0x, data, P2/gifs]
    #- [0x, data, P2/glbs]
    #- [0x, data, P2/glob]
    #- [0x, data, P2/gomer]
    #- [0x, data, P2/gs]
    #- [0x, data, P2/hide]
    #- [0x, data, P2/hnd]
    #- [0x, data, P2/ik]
    #- [0x, data, P2/jlo]

    - [0x163A30, data, P2/joy]

    - [0x163e10, data] # TODO fix jt splits
    #- [0x163e10, data, P2/jt]
    #- [0x163e40, data] # TBD

    #- [0x, data, P2/jp]
    #- [0x, data, P2/jsg]
    #- [0x, data, P2/jump]
    #- [0x, data, P2/keyhole]
    #- [0x, data, P2/landing]
    #- [0x, data, P2/lgn]
    #- [0x, data, P2/lo]
    #- [0x, data, P2/light]
    #- [0x, data, P2/lookat]
    #- [0x, data, P2/main]
    #- [0x, data, P2/mark]
    #- [0x, data, P2/mat]

    #- [0x, data, P2/mecha]
    #- [0x, data, P2/mb]
    #- [0x, data, P2/memcard]
    #- [0x, data, P2/memory]
    #- [0x, data, P2/menu]
    #- [0x, data, P2/missile]
    #- [0x, data, P2/mouthgame]
    #- [0x, data, P2/mpeg]
    #- [0x, data, P2/mrkv]
    #- [0x, data, P2/ms]
    #- [0x, data, P2/murray]
    #- [0x, data, P2/path]

    - [0x16aba0, data, P2/phasemem] # TODO: Fix data in phasemem.c
    - [0x16aba8, data, P2/pipe]
    - [0x16abc0, data]

    #- [0x, data, P2/pnt]
    #- [0x, data, P2/po]
    #- [0x, data, P2/prog]

    #- [0x, data, P2/prompt]
    #- [0x, data, P2/proxy]
    - [0x16b710, data, P2/puffer]
    - [0x16b910, data, P2/pzo]
    #- [0x, data, P2/rail]
    #- [0x, data, P2/rat]
    #- [0x, data, P2/rchm]
    #- [0x, data, P2/render]
    #- [0x, data, P2/rip]
    #- [0x, data, P2/rog]
    #- [0x, data, P2/rope]
    #- [0x, data, P2/rumble]
    #- [0x, data, P2/rwm]
    #- [0x, data, P2/sampler] (might not be in release)
    #- [0x, data, P2/sc]
    #- [0x, data, P2/screen]
    #- [0x, data, P2/sensor]
    #- [0x, data, P2/shadow]
    #- [0x, data, P2/shape]
    #- [0x, data, P2/shd]
    #- [0x, data, P2/shdanim]
    #- [0x, data, P2/sky]
    #- [0x, data, P2/slotheap]
    #- [0x, data, P2/sm]
    #- [0x, data, P2/smartguard]
    #- [0x, data, P2/so]
    #- [0x, data, P2/solve]
    #- [0x, data, P2/sort]
    #- [0x, data, P2/sound]
    #- [0x, data, P2/speaker]
    #- [0x, data, P2/splicemap]
    #- [0x, data, P2/spliceobj]
    #- [0x, data, P2/sprbuf]
    #- [0x, data, P2/sqtr]
    #- [0x, data, P2/squish]
    #- [0x, data, P2/step]
    #- [0x, data, P2/stepact]
    #- [0x, data, P2/stepcane]
    #- [0x, data, P2/stepguard]
    #- [0x, data, P2/stephang]
    #- [0x, data, P2/stephide]
    #- [0x, data, P2/steppipe]
    #- [0x, data, P2/steppower]
    #- [0x175f90, data, P2/steprail]
    #- [0x, data, P2/steprun]
    #- [0x, data, P2/stepside]
    #- [0x, data, P2/stepzap]
    #- [0x, data, P2/stream]
    #- [0x, data, P2/suv]

    - [0x176710, data, P2/sw]
    - [0x176718, data]

    #- [0x, data, P2/tail]
    #- [0x, data, P2/tank]
    - [0x1768d0, data, P2/target]
    #- [0x, data, P2/text]
    #- [0x, data, P2/thread]
    #- [0x, data, P2/tn]
    - [0x176af0, data, P2/transition]
    #- [0x, data, P2/turret]
    #- [0x, data, P2/tv]
    #- [0x, data, P2/ub]
    #- [0x, data, P2/ui]
    #- [0x, data, P2/update]
    #- [0x, data, P2/util]
    #- [0x, data, P2/var]
    #- [0x, data, P2/vec]
    #- [0x, data, P2/vifs]
    #- [0x, data, P2/vis]
    #- [0x, data, P2/water]
    #- [0x, data, P2/waypoint]

    - [0x176f80, data, P2/wipe]
    - [0x176fc0, data]

    #- [0x, data, P2/wm]
    #- [0x, data, P2/xform]
    #- [0x, data, P2/zap]

    - [0x191D00, databin]

    ## Files with seemingly no data;
    # - P2/clip
    # - P2/cnvo

  - [0x1A1C70, databin]
  - [0x1A20D0]
